<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Administrador</title>
</head>

<body>
    <header>
        <img src="/images/senai.png" alt="logo SENAI" class="logo-senai">
        <nav>
            <button type="button" id="sair">Sair</button>
        </nav>
    </header>

    <section id="meio">
        <a href="/novocurso.html">Adicionar Novo Curso</a>
        <h1>CURSOS EM ANDAMENTO</h1>
        <table id="tabelaAndamento">
            <thead>
                <tr>
                    <th>CURSO</th>
                    <th>DATA INÍCIO</th>
                    <th>DATA FIM</th>
                    <th>PROFESSOR(A)</th>
                    <th>SALA</th>
                    <th>OPÇÕES</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br><br><br>
        <h1>CURSOS PARA INICIAR</h1>
        <table id="tabelaIniciar">
            <thead>
                <tr>
                    <th>CURSO</th>
                    <th>DATA INÍCIO</th>
                    <th>OPÇÕES</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <footer>
        <p>© 2025 - Desenvolvido por Kaio Manfro da Silva</p>
    </footer>
    <script src="/js/principal.js" defer></script>
</body>

</html>